* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 1000px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    min-height: 100%;
    width: 100%;
    min-width: 1000px;
    background: #ccc;
}

.container.login {
    background: #5d0a28;
}

.login-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    /* height: 300px; */
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    padding-top: 50px;
    position: relative;
    box-shadow: #000 0 0 5px;
}

.login-form .user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:  #3a0116;
    border: 5px solid #fff;
    color: #fff;
    font-size: 3em;
    position: absolute;
    box-shadow: #000 0 0 5px;
    left: 37%;
    top: -13%;
}

.login-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 50px; */
    margin-top: 10px;
    /* background: #ccc; */
}

.login-header .logo-utec {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    /* background: #3a0116; */
}

.login-header img {
    width: 350px;
}

.login-header span.title,
.login-header span.subtitle {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.login-header span.subtitle {
    margin-bottom: 20px;
    font-size: 1em;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 40px; */
    padding: 10px;
    /* border-radius: 5px; */
    /* box-shadow: #5d0a28 0 2px 5px; */
}

.input-container label {
    width: 100%;
    font-size: 0.9em;
}

.input-container input[type="text"],
.input-container input[type="password"],
.buscador input[type="text"],
.buscador input[type="date"] {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1em;
    border: 2px solid #000;
}

.input-container input[type="text"]:focus,
.input-container input[type="password"]:focus,
.buscador input[type="text"]:focus,
.buscador input[type="date"]:focus {
    border: 3px solid #5d0a28;
}

input[type="submit"] {
    font-size: 1em;
    border: none;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.1s;
}

input[type="submit"]:hover {
    background: #a33e6388;
}

input[type="submit"]:active {
    color: #fff;
    background: #5d0a28;
    box-shadow: 1px 1px 2px #000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    background: #5d0a28;
    box-shadow: 0 2px 5px #000;
}

.menu .logo-utec img {
    width: 300px;
}

.menu .option {
    display: inline-block;
    text-decoration: none;
    line-height: 100px;
    color: #fff;
    font-size: 1.2em;
    margin: 0;
    background: #5d0a28;
    height: 100px;
    padding: 0 20px;
    transition: all ease 0.3s;
}

.menu a:hover {
    background: #360014;
}

.menu a:active {
    background: #000;
    box-shadow: 2px 2px 2px #000;
}

.menu .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 300px;
    height: 100%;
}

.menu .user .info {
    width: 100%;
}

.menu .user .info span,
.menu .user .info a {
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
}

.menu .user .info span:nth-child(1) {
    font-size: 1.3em;
    font-weight: bold;
}

.menu .user .info span:nth-child(2) {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.menu .user .info a {
    padding: 5px 5px 5px 0;
    border-radius: 5px;
}

.menu .user i {
    padding: 15px;
    border-radius: 50%;
    border: 5px solid #fff;
    color: #fff;
    font-size: 2em;
}

/* Inicio */
.container.home .content,
.buscador {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 2px 2px 3px #000;
}

.buscador {
    /* justify-content: flex-end; */
    align-items: center;
    flex-wrap: nowrap;
}

.container.home .content img {
    min-width: 50%;
    border-radius: 10px 0 0 10px;
}

.container.home .content .leyenda {
    display: flex;
    /* width: 100%; */
    margin-left: 20px;
    /* background: #000; */
}

.container.home .content .leyenda img {
    height: 300px;
    width: 400px;
}

.buscador span {
    margin-right: 20px;
    font-size: 1.5em;
    /* font-style: italic; */
}

.buscador .por {
    /* display: flex; */
    /* background: #000; */
    margin-right: 20px;
}

.buscador input[type="text"],
.buscador input[type="date"] {
    height: 40px;
    width: 200px;
    padding: 5px;
}

.results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 50px; */
    /* background: #000; */
}

.results .row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    color: #000;
    text-decoration: none;
}

.results .row:nth-child(1) {
    font-weight: bold;
    color: #fff;
    background: #5d0a28;
}

.results .column {
    width: 20%;
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid #5d0a28;
}

.results .column.number {
    width: 40px;
}

.results .column.detail {
    text-align: center;
    width: 100px;
}

.addIcon {
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 4em;
    color: #5d0a28;
    text-shadow: 2px 2px 5px #fff;
    transition: all ease 0.3s;
}

.addIcon:hover {
    font-size: 5em;
    text-shadow: 4px 4px 6px #fff;
}